<template>
  <v-app id="app">
    <div id="nav">
      <router-link to="/">Home</router-link> |
      <router-link to="/lore">Лор игры</router-link> |
      <router-link to="/sprite-map-editor">Sprite map editor</router-link> |
      <router-link to="/arena-editor">Arena editor</router-link> |
      <router-link to="/ws-tester">ONE BUTTON GAME</router-link> |
      <!-- <router-link to="/economic-simulator">Economic simulator</router-link> | -->
      <router-link to="/action-simulator">Action simulator</router-link>
    </div>
    <router-view/>
  </v-app>
</template>

<style>
  body {
    margin: 0;
  }

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  z-index: 2;
  padding: 7px;
  background: linear-gradient(173deg, #828282, #ffffff00);
  position: absolute;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;

}
</style>

<script>

export default {
  name: 'App',

  data: () => ({
    //
  }),
};
</script>
