<template>
  <div class="sprite-editor">
    <Notify ref="notify"/>
    <canvas ref="canvas" class='canvas'></canvas>


    <div style="text-align: justify;">
      <h3>Размер арены</h3>
      <v-slider
        dense
        hint="Ширина"
        inverse-label
        :label="`${arenaWidth}`"
        max="10000"
        min="200"
        v-model="arenaWidth"
        @change="regenerate"
      ></v-slider>
      <v-slider
        dense
        hint="Высота"
        inverse-label
        :label="`${arenaHeight}`"
        max="10000"
        min="200"
        v-model="arenaHeight"
        @change="regenerate"
      ></v-slider>
    </div>

    <div>

    </div>

    <div>
      <chooser @mapChoosed="mapChoosed" multiple/>

      <v-list>
        <v-list-item-group
        v-model="spriteIndex"
        color="indigo"
        >
          <v-list-item
          v-for="(item, i) in sprites"
          :key="i"
          >
            <v-list-item-content>
              <v-list-item-title>{{ item.name }}</v-list-item-title>
              <v-slider
                dense
                hint="Вероятность"
                inverse-label
                :label="`${item.chance}`"
                max="100"
                min="0"
                v-model="item.chance"
                @change="regenerate"
              ></v-slider>
            </v-list-item-content>
          </v-list-item>
        </v-list-item-group>
      </v-list>
    </div>

  </div>
</template>

<style scoped>
  .sprite-editor {
    text-align: justify;
    display: grid;
    grid-column-gap: 10px;
    padding-top: 40px;
    justify-content: start;
    grid-template-columns: 1fr 1fr;
  }
  .legend {
    display: inline-block;
    width: 1em;
    height: 1em;
    box-shadow: inset 0 0 3px black;
  }
  .new-sprite {
    display: block;
  }
  .canvas {
    display: block;
    margin: 5px 0px;
    box-shadow: 0px 0px 4px 1px #979797;
    max-width: 98vw;
    max-height: 85vh;


    grid-row: 1 / 4;
  }
</style>

<script>
import initEditor from './../editors/arena'
import Notify from './../components/Notify.vue'
import chooser from './../components/Sprite-map-chooser.vue'


export default {
  name: 'Arena-editor',
  components: {
    Notify,
    chooser,
  },
  data: () => {
    return {
      drawer: null,
      spriteName: '',
      isCellLighted: true,
      isCellEnabled: true,
      sprites: [],
      spriteIndex: -1,
      arenaWidth: 2000,
      arenaHeight: 1200,
    }
  },
  mounted() {
    initEditor({
      canvas: this.$refs.canvas,
    }).then(drawer => this.drawer = drawer)

  },
  beforeDestroy() {
    location.reload()
  },
  methods: {
    regenerate() {
      this.drawer.generate(
        {
          width: this.arenaWidth,
          height: this.arenaHeight,
        },
        this.sprites,
      )

    },
    mapChoosed({ choosedMap }) {
      this.sprites = choosedMap.spriteList.map(({ name, cells }) => {
        return {
          name,
          chance: 3,
          image: choosedMap.image,
          cells,
          cellSize: choosedMap.cellSize,
        }
      })

      this.drawer.generate(
        {
          width: this.arenaWidth,
          height: this.arenaHeight,
        },
        this.sprites,
      )

      // console.log(choosedMap)
    },
  }
}
</script>
