<template>
  <div class="economic-simulator">
    <h3>Ниже описано наше текущее представление о мире игры до ее начала</h3>
    <p>
       | Город состоит из жителей. В городе имеется рынок, на котором расположениы все товары города.
       | Раз за цикл город выдает на рынок те товары, что произвели его жители и с рынка уходят товары, которые жители потребили.
       | Производство и потребление города состоит из производства и потребления всех его жителей
   </p>
   <p> Житель имеет 2 параметра: статус и профессия. От статуса зависит его потребление, от профессии - производство.
     <br />
     Каждый житель потребляет в соответствии со статусом
     </p>
   <ul >
       <li> бедняк берет 2 еды </li>
       <li> середняк берет 1 еду и 1 одежду</li>
       <li> богач берет 2 одежды</li>
   </ul>
   Производят они по профессии
   <ul>
       <li> за 1 материал делает 3 еды</li>
       <li> за 1 материал делает 3 одежды</li>
       <li> делает 2 материала из ничего. </li>
   </ul>
   <p> Доп механика - появление новых жителей за 50 еды, если запас больше 550.</p>
   <br />
   <div id="resources"></div>
   <div id="cities"></div>
   <div id="citizens"></div>

  </div>
</template>

<script>
// import startGame from './../economic-scripts/main.js'


export default {
  name: 'Economic-simulator',
  // components: {
  //   Keys
  // },
  data: () => {
    return {
      keys: {
        fps: {
          count: 0,
          coords: [10, 70, 0, 0],
          mobileCoords: [10, 70, 0, 0],
          codes: [],
          isPressed: false
        },
        up: {
          count: 0,
          coords: [0, 0, 130, 70],
          mobileCoords: [0, 0, 115, 65],
          codes: ['KeyW', 'ArrowUp'],
          isPressed: false
        },
        down: {
          count: 0,
          coords: [0, 0, 10, 70],
          mobileCoords: [0, 0, 5, 65],
          codes: ['KeyS', 'ArrowDown'],
          isPressed: false
        },
        left: {
          count: 0,
          coords: [0, 0, 70, 10],
          mobileCoords: [0, 0, 60, 10],
          codes: ['KeyA', 'ArrowLeft'],
          isPressed: false
        },
        right: {
          count: 0,
          coords: [0, 0, 70, 130],
          mobileCoords: [0, 0, 60, 120],
          codes: ['KeyD', 'ArrowRight'],
          isPressed: false
        },
      }
    }
  },
  mounted() {
    // startGame({
    //   message: 'startdd',
    //   keys: this.keys,
    //   canvas: this.$refs.canvas
    // })
  },
  beforeDestroy() {
    location.reload()
  },
  methods: {
    refreshKeyPressed(e) {
      if (this.keys[e.dir]) {
        this.keys[e.dir].isPressed = e.isPressed
        // console.log(this.keys[e.dir]);
      }
    }
  }
}
</script>

<style scoped>
.lore {
  width: 50%;
  padding: 30px 10px;
}
@media (max-width: 400px) {
  .lore {
    width: 95%;
    font-size: 13px;
  }
}
h3 {
  text-align: left;
  margin-top: 70px;
}
p {
  text-align: justify;
  text-indent: 25px;
}
</style>
