<template>
  <div>
    <PopupStartGame channel="action-game" @onConnect="onConnect">
      <ActionGame :gameData='gameData'/>
    </PopupStartGame>
  </div>
</template>

<script>
import PopupStartGame from '../components/Popup-start-game.vue';
import ActionGame from '../components/Action-game.vue';

export default {
  name: 'Game',
  components: {
    PopupStartGame,
    ActionGame,
  },
  data: () => {
    return {
      gameData: null,
    }
  },
  beforeDestroy() {
    location.reload()
  },
  methods: {
    onConnect(data) {
      this.gameData = data
    }
  }
}
</script>
