<template>
  <div class="home">
    <HelloWorld msg="Дружочек-пирожочек, привет!"/>
  </div>
</template>

<script>
// @ is an alias to /src
import HelloWorld from '@/components/HelloWorld.vue'

export default {
  name: 'Home',
  components: {
    HelloWorld
  }
}
</script>
