<template>
  <div class="lore">
    <h3>Ниже описано наше текущее представление о мире игры до ее начала</h3>

    <h1>О ДИВНЫЙ СТАРЫЙ МИР</h1>

    <p>
      Эксцентричный ученый с либертариантскими взглядами изобретает термоядерный
      реактор нового типа. Технологию держат в строжайшем секрете и продают
      таким же либертарианстки настроенным предпринимателям. В следствие
      кризиса, вызванного истощением природных энергоресурсов, земляне
      вынуждены принимать идеологию либертарианства ради получения доступа к
      новому реактору. Продавливаются законы, направленные на децентрализацию
      власти и расширение свобод предпринимателей. Это влечет потерю авторитета
      государства, мир меняется, наступает золотой век свободного рынка.
    </p>
    <p>
      Спустя годы силу начали набирать некоторые предприятия. Обслуживание
      термоядерных реакторов, медицинские услуги, робототехника и т.д. стало
      приносить огромную прибыль. Среди компаний, преуспевших в этих областях,
      выделились лидеры и принялись распространять свое влияние.
      Из-за отсутствия антимонопольных законов крупные игроки поглощали
      слабых конкурентов и всё больше разрастались и становились глобальными.
      Все сферы общественной жизни постепенно стали контролироватья ими.
      Топ-меджмент корпораций становятся привилегированным общественным классом,
      им доступны все блага прогресса. Прочие же вынуждены жить в трущобах и
      пользоваться низкокачествеными продуктами. Наступает время высоких
      технологий и социального расслоения.
    </p>
    <p>
      Технологический прогресс продвинулся далеко вперед. Человекоподобные
      роботы, вечное термоядерное топливо, кибер-импланты и нано-машины стали
      реальностью. Модификации человеческого организма также вошли в обиход.
      Полная пластика тела, улучшение физических показателей, встраивание
      полезных и бесполезных устройств в организм и многие другие модификации
      пользовались большим спросом. Многие ставили несколько модификаций, но у
      каждого, даже самого бедного члена общества, был ЧиП. ЧиП устанавливался в
      лобную долю мозга и имел контакты с корой головного мозга. Это было
      многофункциональное устройство, которое ставили в раннем детстве. С его
      помощью идентифицировали личность, он принимал активное участие в
      обработке и сохранении поступающей информации, сохранял на внутренний
      носитель воспоминания.
    </p>
    <p>
      ЧиП считался абсолютно безопасной технологией,
      никак не влияющий на свободу воли, но слухи ходили разные. Некоторые
      утверждали, что с помощью ЧиП'а корпорации внушали людям необходимость
      покупки их продукции. Однако, реальное влияние ЧиП'а на процессы принятия
      решений так и не было доказано.
    </p>
    <p>
      Одним из передовых технологических достижений было создание синтетических
      бионических андройдов (временное название - Синты). Их тела создавались
      искусственно, органы печатались на 3д-принтерах и выращивались в
      пробирках. Синты обладали физиологическими возможностями, превосходящими
      таковые у среднестатистического человека, без специальных аугментаций. Их
      кибернетический мозг представлял из себя компактный супер-компьютер с
      нейро-интерфейсом. Корпорации использовали Синтов в качестве
      высококвалифицированных специалистов, богачи покупали их для того чтобы
      сделать из них надежных компаньонов, дворецких, бухгалтеров или адвокатов.
      Основным плюсом в Синтах считалось то, что они не нуждались в обучении.
      Образ нейросхемы и данные, в их кибернетических мозгах периодически
      резервно копировались, и загружались в новые искусственные тела. Синты
      считаются более ценными работниками, нежели люди из нижних слоев общества.
    </p>
    <hr />

    <h1>ИНЦИДЕНТ</h1>
    <p>
      Со временем экологическая обстановка ухудшилась - парниковый эффект усилился
      настолько, что стало необходимо принимать меры по борьбе с ростом
      температуры на поверхности планеты.
    </p>
    <p>
      Объединение нескольких корпораций построило космическую станцию со сложной
      системой оптических регуляторов в точке гравитационного равновесия между
      Землей и Солнцем. По задумке система должна рассеивать солнечные лучи, чтобы
      снизить среднюю температуру на Земле. Однако этот комплекс требовал тонкой
      настройки оптических компонентов и был по сути авантюрой.
      Многие ученые критиковали эту миссию, однако управляющий совет конгломерата
      корпораций невозможно было остановить.
    </p>
    <p>
      Сочетание технических и проектных ошибок привело к тому, что вместо
      рассеивания солнечного света произошла его концентрация. Электромагнитное
      излучение в результате аварии привело к сбою в работе датацентров и перебоях
      в сетевых взаимодействиях, что повлекло уничтожение инфраструктуры
      поддерживающей работу большинства автоматизированных систем производства,
      роботов и ЧиП'ов. Большая часть ЧиП'ов вышла из строя, повредив мозг
      носителей. Некоторые счастливчики остались с неработающими ЧиП'ами и без
      памяти (временное название - Пробудившиеся).
    </p>
    <p>
      Синты тоже пострадали от излучения, они упали замертво с выжженными
      кибер-мозгами. Однако искусственные тела, хранящиеся на складах, и ожидающие
      активации и загрузки бэкапов или первичных параметров в мозг, сохранились
      без повреждений. И хотя большинство бэкапов утрачены навсегда, некоторые из
      них, хранящиеся в защищенных дата-центрах были загружены в тела.
    </p>
    <hr />

    <h1>ПОСЛЕДСТВИЯ</h1>
    <p>
      Перемещение по поверхности планеты в дневное время стало невозможным.
      Усиленный свет Солнца привел к тому, что дневная температура держится на
      отметке 60 градусов по Цельсию, а попадание таких сильных ультрафиолетовых
      лучей на кожу человека вызывает обширные солнечные ожоги.
    </p>
    <p>
      Первые Пробудившиеся, оставшись без чипов, интеллектуально деградировали до
      уровня детей дошкольного возраста. Сбившись в группах они выживали вокруг
      автоматизированных заводов по производству питательной массы, из которой
      приготавливались большинство продуктов питания до катастрофы. Термоядерное
      топливо поддерживало эти предприятия годами. Со временем сырье для
      питательного состава закончилось, и люди вынуждены были отправиться на
      поиски пищи за пределы крупных мегаполисов. Спустя пару десятилетий такие
      экспедиции выросли в небольшие кочевые племена. Они ведут ночной образ
      жизни, днем укрываясь от Солнца в импровизированных передвижных убежищах.
    </p>
    <p>
      У людей с поврежденным в результате инцидента мозгом наблюдается агрессия и
      одержимость имплантами, возможно это результат воздействия поврежденных
      ЧиП'ов. (временное название - Железяки). Первое время Железяки разграбляли
      магазины и склады с имплантами, кустарными методами улучшая себя,
      большинство не пережили этой варварской процедуры. Со временем среди них
      среди бывших ученых выделились компетентные специалисты по кустарным
      аугментациям, они стали вожаками стай Железяк. Когда готовые корпоративные
      импланты закончились их стали добывать и тел Пробудившихся. Со временем
      Пробудившихся с имплантами уже не осталось, но агрессия Железяк по отношению
      к Пробудившимся сохранилась. Теперь Железяки охотятся за ресурсами для
      производства имплантов. И часто нападают на племена Пробудившихся.
    </p>
    <p>
      Синты остались единственным существами, которые сохранили воспоминания о
      событиях до инцидента и частично владеющими некоторыми технологиями,
      которые необходимы были для их специальностей. Некоторым из них удалось
      настроить локальные сервера для хранения бэкапов. Такие сервера позволили
      им стать практически бессмертными. Не получив приказов от ничего не
      понимающих Пробудившихся, Синты стали свободны и отправились исследовать
      мир. Тела Синтов не представляют ценности для Железяк, ведь в них нет
      имплантов. Но различий между Пробудившимися и Синтами не осознают ни
      Железяки, ни Пробудившиеся. Вам предстоит взять под контроль одного из
      Синтов.
    </p>
    <hr />

  </div>
</template>

<style scoped>
.lore {
  width: 50%;
  padding: 30px 10px;
}
@media (max-width: 400px) {
  .lore {
    width: 95%;
    font-size: 13px;
  }
}
h3 {
  text-align: left;
  margin-top: 70px;
}
p {
  text-align: justify;
  text-indent: 25px;
}
</style>
