<template>
  <div class="sprite-editor">
    <Notify ref="notify"/>
    <canvas ref="canvas" class='canvas'></canvas>


    <div style="text-align: justify;">
      <h3>ЛЕГЕНДА</h3>
      <p><b class='legend' style="background: rgba(240, 20, 20, .1);"></b> - непроходимое</p>
      <p><b class='legend' style="background: rgba(20, 240, 20, .1);"></b> - проходимые</p>
      <p><b class='legend' style="background: rgba(135, 206, 250, .1);"></b> - занятые</p>
      <p><b class='legend' style="background: rgba(20, 20, 20, .1);"></b> - свободные</p>
    </div>

    <div>
      <canvas ref="saveCanvas" style="display: none;" class='canvas'></canvas>
    </div>

    <div>
      <chooser @mapChoosed="mapChoosed" />

      <v-file-input
        accept="image/png, image/jpeg, image/bmp"
        show-size
        placeholder="Выбери новый спрайт"
        prepend-icon="mdi-image"
        @change="previewFiles"
        ref="file"
      ></v-file-input>

      <v-switch
        v-model="isCellLighted"
        @click="switchCellLighted"
        inset
        :label="`${isCellLighted ? 'Вы' : 'В'}ключить подсветку ячеек`"
      ></v-switch>

      <v-switch
        v-model="isCellEnabled"
        @click="switchCellEnabled"
        inset
        :label="`${isCellEnabled ? 'П' : 'Не п'}роходимые ячейки`"
      ></v-switch>


      <v-text-field
        v-model="spriteName"
        color="purple darken-2"
        label="Имя спрайта"
        required
      ></v-text-field>

      <v-btn
        color="primary"
        elevation="1"
        :disabled="!spriteName"
        @click="toSave"
      >Сохранить карту</v-btn>
    </div>

  </div>
</template>

<style scoped>
  .sprite-editor {
    text-align: justify;
    display: grid;
    grid-column-gap: 10px;
    padding-top: 40px;
    justify-content: start;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .legend {
    display: inline-block;
    width: 1em;
    height: 1em;
    box-shadow: inset 0 0 3px black;
  }
  .new-sprite {
    display: block;
  }
  .canvas {
    display: block;
    margin: 5px 0px;
    box-shadow: 0px 0px 4px 1px #979797;
    max-width: 98vw;
    max-height: 85vh;


    grid-row: 1 / 3;
  }
</style>

<script>
import initEditor from './../editors/sprite-map'
import chooser from './../components/Sprite-map-chooser.vue'
import Notify from './../components/Notify.vue'
import { createSpriteMapList, updateSpriteMapList } from './../api'


export default {
  name: 'Sprite-map-editor',
  components: {
    chooser,
    Notify,
  },
  data: () => {
    return {
      snackbar: { text: '' },
      drawer: null,
      spriteName: '',
      isCellLighted: true,
      isCellEnabled: true,
    }
  },
  mounted() {
    initEditor({
      canvas: this.$refs.canvas,
      saveCanvas: this.$refs.saveCanvas,
      file: this.$refs.file
    }).then(drawer => this.drawer = drawer)
  },
  beforeDestroy() {
    location.reload()
  },
  methods: {
    mapChoosed({ choosedMap }) {
      this.drawer.assignMap(choosedMap)
    },
    previewFiles(file) {
      if (!this.drawer) {
        return null
      }
      console.log('===>', file);

      let img = new Image();
      img.src = URL.createObjectURL(file);
      img.crossOrigin = 'Anonymous';
      img.onload = () => this.drawer.assignSprite(img)
    },
    switchCellLighted() {
      if (!this.drawer) {
        return null
      }
      this.isCellLighted = this.drawer.switchCellLighted()
    },
    switchCellEnabled() {
      if (!this.drawer) {
        return null
      }
      this.isCellEnabled = this.drawer.switchCellEnabled()
    },

    async toSave() {
      let map = this.drawer.toSave(this.spriteName)

      let imageBlob = await new Promise(resolve => this.$refs.saveCanvas.toBlob(resolve, 'image/png'));
      let formData = new FormData();
      formData.append('image', imageBlob, `${map.name}.png`);
      formData.append('data', JSON.stringify(map));

      if (map.sprites.length == 1) {
        createSpriteMapList(formData)
          .then(res => {
            console.log(res)
            location.reload()
          })
          .catch(e => {
            // this.snackbar.text = e.message
            this.$refs.notify.onError(e.message)
            // this.snackbarCount++
          })
      } else {
        updateSpriteMapList(map.id, formData)
          .then(res => {
            console.log(res)
            location.reload()
          })
          .catch(e => {
            // this.snackbar.text = e.message
            this.$refs.notify.onError(e.message)
            // this.snackbarCount++
          })
      }
    }
  }
}
</script>
