<template>
  <div>
    <PopupStartGame channel="tester" @onConnect="onConnect">
      <v-row>.</v-row>
      <v-row>.</v-row>
      <v-row>
        <v-col cols="12" sm="2">
        <v-banner color="red" single-line >
          Ваш мастер: {{ master }}
        </v-banner>
        </v-col>
        <v-col cols="12" sm="2" >
          <v-banner color="red" single-line >Ваш код: {{ code }}</v-banner>
        </v-col>
      </v-row>

      <v-row v-for="gamer in otherGamers" :key="gamer.name">
        <v-col cols="12" sm="2" >
          <v-banner
          :color="gamer.firstPresser ? 'primary' : gamer.pressed ? 'secondary' : 'white'"
          single-line
          >{{ gamer.name }}</v-banner>
        </v-col>
      </v-row>

      <v-row>
        <v-col cols="12" sm="4" >
          <v-btn
            color="secondary"
            elevation="1"
            @click="master == gamer ? onNext() : onPress()"
          >{{ master == gamer ? 'Следующий вопрос' : 'Я ЗНАЮ!' }}</v-btn>
        </v-col>
      </v-row>
    </PopupStartGame>

    <v-footer padless dark absolute style="left: 0px; bottom: 12px">
      <v-layout row space-between
        flat
        tile
        width="100%"
        class="grey darken-2 text-center"
      >
        <v-card-text row justify-center>
          <v-btn
            v-for="icon in icons"
            :key="icon"
            class="mx-4 white--text"
            icon
          >
            <v-icon size="24px">
              {{ icon }}
            </v-icon>
          </v-btn>
        </v-card-text>
        <v-card-text>
          <v-btn color="secondary">Donation</v-btn>
        </v-card-text>
      </v-layout>
    </v-footer>
  </div>
</template>


<script>
import PopupStartGame from '../components/Popup-start-game.vue';

  export default {
    name: 'WebSocket-tester',

    components: {
      PopupStartGame
    },
    data: () => {
      return {
        tab: null,
        master: '',
        gamer: '',
        code: null,
        otherGamers: [],
        gameConnected: false,
        icons: [
          'mdi-twitch',
          'mdi-youtube',
          'mdi-linkedin',
          'mdi-instagram',
        ]
      }
    },
    mounted() {

    },
    beforeDestroy() {
      location.reload()
    },
    methods: {
      onConnect({ connection, master, gamers, code, gamer }) {
        this.connection = connection

        this.code = code
        this.gamer = gamer
        this.master = master
        this.otherGamers = gamers

        this.connection.onMessage((data) => {
          this.otherGamers = data.gamers
        })
      },

      onNext() {
        this.connection.send({
          gamer: this.gamer,
          code: this.code,
          action: 'next'
        })
      },

      onPress() {
        if (this.otherGamers.find(gamer => gamer.name == this.gamer).pressed) {
          return
        }
        this.connection.send({
          gamer: this.gamer,
          code: this.code,
          action: 'press'
        })
      }

    },
  }
</script>
