<template>
	<div class="game">
		<Keys
		@refreshKeyPressed="refreshKeyPressed"
		:keys="keys"/>

		<button id="input-change">Mouse</button>

		<canvas ref="view-port" id="can"></canvas>
		<canvas ref="webgl" class='webgl-canvas' style="position: absolute; z-index: 2;"></canvas>
		<div id="sizer"></div>
	</div>
</template>

<script>
import startGame from './../scripts/main.js'
import Keys from './../components/Keys.vue'

export default {
	name: 'Action-Game',
	components: {
		Keys,
	},
	props: {
		gameData: {
			type: Object,
		},
	},
	data: () => {
		return {
			keys: {
				fps: {
					count: 0,
					coords: [10, 70, 0, 0],
					mobileCoords: [10, 70, 0, 0],
					codes: [],
					isPressed: false
				},
			}
		}
	},
	mounted() {
		// console.log(this.$refs);

		let { connection, code, gamer, master, gamers } = this.gameData

		this.connection = connection

		this.code = code
		this.gamer = gamer
		this.master = master
		this.otherGamers = gamers

		this.connection.onMessage((data) => {
			this.otherGamers = data.gamers
		})

		connection._send = connection.send
		connection.send = (options) => connection._send({
			gamer: this.gamer,
			code: this.code,
			...options
		})

		this.game = startGame({
			message: 'startdd',
			fpsMeter: this.keys.fps,
			canvas: this.$refs['view-port'],
			webgl: this.$refs.webgl,
			gameData: this.gameData,
		})
	},
	methods: {
		onConnect({ connection, master, gamers, code, gamer }) {

		},

		refreshKeyPressed(e) {
			if (this.game && this.game.press) {
				this.game.press(e)
			}
		}
	}
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
	.game {
		position: relative;
		background: #f5f5f5;
		overflow: hidden;
		width: 100vw;
		height: 100vh;
	}
	h3 {
		margin: 40px 0 0;
	}
	ul {
		list-style-type: none;
		padding: 0;
	}
	li {
		display: inline-block;
		margin: 0 10px;
	}
	a {
		color: #42b983;
	}


	#fps {
		position: fixed;
		background-color: rgb(245, 196, 181);
		width: 50px;
		height: 50px;
		box-shadow: inset 1px 1px 5px 0px;
		top: 10px;
		right: 70px;
	}


	#input-change {
		bottom: 10px;
		right: 10px;
		z-index: 2;
		position: fixed;
	}
	#can {
		position: absolute;
		top: 0px;
		left: 0px;
		width: 100%;
	}
</style>
