<template>
  <div
    class="key"
    :style="style"
    >
    <span>{{ count.toFixed(1) }}</span>
  </div>
</template>

<script>
const positionDirs = ['top', 'right', 'bottom', 'left']

export default {
  name: 'Key',
  props: {
    count: Number,
    coords: Array,
    mobileCoords: Array,
  },
  data() {
    return {
      screenHeight: window.screen.height
    }
  },
  computed: {
    style() {
      let coordType = 'coords'
      if (this.screenHeight < 400) {
        coordType = 'mobileCoords'
      }

      return `
        ${this[coordType][0] ? `${positionDirs[0]}: ${this[coordType][0]}px;`: ''}
        ${this[coordType][1] ? `${positionDirs[1]}: ${this[coordType][1]}px;`: ''}
        ${this[coordType][2] ? `${positionDirs[2]}: ${this[coordType][2]}px;`: ''}
        ${this[coordType][3] ? `${positionDirs[3]}: ${this[coordType][3]}px;`: ''}
        backgroundColor: ${this.count !== 0 ? '#c5e384' : '#f5c4b5'};
        `

    }
  },

}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.key {
  padding: 15px 12px;
  position: fixed;
  z-index: 2;

  -webkit-user-select: none;
  user-select: none;

  border: 1px solid grey;
  box-shadow: inset 1px 1px 5px 0px;
}

@media (max-height: 400px) {
  .key {
    padding: 22px 20px;
  }
}
</style>
