<template>
  <div class="keys">
    <Key
      v-for="(key, direction) in keys"
      :key="direction"
      :count="key.count"
      :coords="key.coords"
      :mobileCoords="key.mobileCoords"/>
  </div>
</template>

<script>
import Key from './Key.vue'

export default {
	name: 'Keys',
	components: {
		Key
	},
	props: {
		keys: Object
	},
	mounted() {
		const press = (code, isPressed) => {
			this.$emit('refreshKeyPressed', {
				code,
				isPressed
			})
		}
		window.addEventListener('keydown', e => press(e.code, true))
		window.addEventListener('keyup', e => press(e.code, false))
	},
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
