<template>
    <v-snackbar
      v-model="show"
      :timeout="timeout"

      absolute
      tile
      right
      top
      color="red accent-2"
    >
      {{ text }}
      <v-btn
        color="white"
        icon
        @click="show = false"
      >
        <v-icon>mdi-thumb-up</v-icon>
      </v-btn>
    </v-snackbar>
</template>

<script>
export default {
  name: 'Notify',
  data() {
    return {
      text: '',
      show: false,
      timeout: 2000,
    }
  },
  methods: {
    onError(text) {
      this.show = true
      this.text = text
    }
  }
}
</script>
