<template>
  <div class="hello">
    <h1>{{ msg }}</h1>
    <p>
      Переходи на вкладку с игрой и играй
    </p>
  </div>
</template>

<script>
export default {
  name: 'HelloWorld',
  props: {
    msg: String
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.hello {
  width: 50%;
  padding: 50px 10px;
}
@media (max-width: 400px) {
  .hello {
    width: 95%;
  }
}
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
