<template>
  <div>
    <div v-if="!gameConnected">
      <v-col :class="$style.container">
        <v-toolbar color="grey darken-3" dark flat>
          <v-tabs v-model="tab">
            <v-tab>Создать</v-tab>
            <v-tab>Войти</v-tab>
          </v-tabs>
        </v-toolbar>
        <v-tabs-items v-model="tab" @keyup.native.enter="toStart">
          <v-tab-item :class="$style.item">
            <p :class="$style.text">
              Чтобы создать новую комнату для друзей, просто введи свой ник
            </p>
            <v-layout row justify-center mt-4 mb-4>
              <v-flex xs2>
                <p :class="$style.label">Ник</p>
              </v-flex>
              <v-flex xs5>
                <v-text-field
                v-model="gamer"
                solo
                required
                ></v-text-field>
              </v-flex>
            </v-layout>
            <v-btn
            color="secondary"
            elevation="1"
            @click="toStart"
            >Поехали</v-btn>
          </v-tab-item>
          <v-tab-item :class="$style.item">
            <p :class="$style.text">
              Тут можно подключиться к игре друга. Введи свой ник и код комнаты
            </p>
            <v-layout row justify-center mt-4>
              <v-flex xs2>
                <p :class="$style.label">Ник</p>
              </v-flex>
              <v-flex xs5>
                <v-text-field
                v-model="gamer"
                solo
                required
                ></v-text-field>
              </v-flex>
            </v-layout>
            <v-layout row justify-center mt-2 mb-4>
              <v-flex xs2>
                <p :class="$style.label">Код комнаты</p>
              </v-flex>
              <v-flex xs5>
                <v-text-field
                v-model="code"
                solo
                required
                ></v-text-field>
              </v-flex>
            </v-layout>
            <v-btn
            color="secondary"
            elevation="1"
            @click="toStart"
            >Поехали</v-btn>
          </v-tab-item>
        </v-tabs-items>
      </v-col>
    </div>
    <div v-else>
      <slot></slot>
    </div>
  </div>
</template>

<style module>
  .label {
    padding-top: 14px;
  }
  .container {
    margin: 150px auto 0;
    width: 600px;
    padding: 0;
  }
  .item {
    border: 1px solid rgb(47, 47, 47);
    padding-bottom: 30px;
  }
  .text {
    margin: 25px 6px;
  }
</style>

<script>
  import { subscribe } from './../api/ws';

	const hashToData = (hash) => hash.substr(1).split('&').reduce((a,value,i) => (i == 0 ? a.gamer = value : a.code = value, a), {gamer: '', code: ''})
	const dataToHash = ({ gamer, code }) => `#${gamer}&${code}`


  export default {
    name: 'PopupStartGame',

    props: {
      channel: String
    },

    data: () => {
      return {
        tab: null,
        master: '',
        gamer: '',
        code: null,
        otherGamers: [],
        gameConnected: false,
      }
    },
		// TODO: Добавить в URL код комнаты и автоматом загружать комнату, если она обнаружена в URL
		beforeMount(args) {
			let searchParams = new URLSearchParams(window.location.search);
			let gamer = searchParams.get('gamer');
			let code = searchParams.get('code');

			if (gamer && code) {
				this.gamer = gamer
				this.code = code
				this.toStart()
			}
		},

		beforeUnmount() {
			console.log('beforeUnmount');
			console.log('beforeUnmount');
		},

		methods: {
			toStart() {
				// TODO: Добавить проверку наличия полей

				let connection = subscribe(this.channel)
				connection.onMessage(({ code, master, gamers }) => {
					// TODO: Добавить обработку ошибки подключения (комната не найдена или ник занят)
					if (this.gameConnected) {
						return
					}

					if (code) {
						let searchParams = new URLSearchParams(window.location.search);
						searchParams.set('gamer', this.gamer);
						searchParams.set('code', code);
						// window.location.search = searchParams.toString();
						window.history.replaceState(null, null, `?${searchParams}`);
					}

					this.gameConnected = true

					this.connection = subscribe(`${this.channel}:${code}`)

					this.connection.send({
						gamer: this.gamer,
						code: code,
						action: 'subscribe',
					})

					this.$emit('onConnect', {
						connection: this.connection,
						code,
						master: master || this.gamer,
						gamers,
						gamer: this.gamer,
					})

				})

				connection.send({
					gamer: this.gamer,
					code: this.code,
					action: 'connect',
				})
			},

    }
  }
</script>
