<template>
  <v-dialog
    v-model="dialog"
    fullscreen
    hide-overlay
    transition="dialog-bottom-transition"
    scrollable
  >
    <template v-slot:activator="{ on, attrs }">
      <v-btn
        color="secondary"
        dark
        v-bind="attrs"
        v-on="on"
      >
        Выбор карты
      </v-btn>
    </template>
    <v-card>
      <v-card-title class="text-h5">
        Выбор карты
      </v-card-title>
      <v-card-text>
        Необходимо выбрать карту из списка или создать новую
        <v-spacer></v-spacer>

        <v-row>
          <v-col cols="12" sm="4"></v-col>
          <v-col cols="12" sm="2">
            <v-text-field
              v-model="newSpriteMapName"
              color="purple darken-2"
              label="Имя карты"
              required
            ></v-text-field>
          </v-col>
          <v-col cols="12" sm="1">
            <v-btn
              color="green darken-1"
              text
              :disabled="!newSpriteMapName"
              @click="onNewMap"
              >
              Новая
            </v-btn>
          </v-col>
        </v-row>

        <v-row>
          <v-col cols="12" sm="4"></v-col>
          <v-col cols="12" sm="2">
            <v-list>
              <v-list-item-group
              v-model="spriteMapIndex"
              color="indigo"
              >
                <v-list-item
                v-for="(item, i) in spriteMaps"
                :key="i"
                >
                  <v-list-item-content>
                    <v-list-item-title>{{ item.name }}</v-list-item-title>
                  </v-list-item-content>
                </v-list-item>
              </v-list-item-group>
            </v-list>
          </v-col>
          <v-col cols="12" sm="1">
            <v-btn
              color="green darken-1"
              text
              :disabled="!choosedMap"
              @click="dialog = false"
              >
              Выбрать
            </v-btn>
          </v-col>
        </v-row>

        <v-spacer></v-spacer>


      </v-card-text>
    </v-card>
  </v-dialog>
</template>

<script>
import { getSpriteMapList } from './../api'
import { SpriteMap } from './../editors/sprite-map/sprite-map'

export default {
  data () {
    return {
      dialog: false,
      newSpriteMapName: '',
      spriteMaps: ['map 1', 'map 2'],
      choosedMap: null,
      spriteMapIndex: -1,
    }
  },
  mounted() {
    getSpriteMapList()
      .then(spriteMaps => this.spriteMaps = spriteMaps)
  },
  methods: {
    onNewMap() {
      if (!this.newSpriteMapName) {
        return
      }

      this.dialog = false

      this.choosedMap = new SpriteMap({ name: this.newSpriteMapName })
      this.choosedMap.ready()
        .then(() => this.$emit('mapChoosed', { choosedMap: this.choosedMap }))
    }
  },
  watch: {
    spriteMapIndex() {
      console.log('===>', this.spriteMapIndex);

      let choosedMap = this.spriteMaps[this.spriteMapIndex]
      if (!choosedMap) {
        return
      }

      this.choosedMap = new SpriteMap({
        ...choosedMap,
        src: choosedMap.src
      })
      this.choosedMap.ready()
        .then(() => this.$emit('mapChoosed', { choosedMap: this.choosedMap }))
    }
  }
}
</script>

<style scoped>
</style>
